@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 50%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  .animate-fade-in-up {
    --fade-in-duration: 1s;
    --fade-in-delay: 0.2s;

    animation-name: fadeInUp var(--fade-in-duration) var(--fade-in-delay) both;
  }
}