---
import SVGImg from '../components/svgimg.astro'
import { FeaturedSVG } from '../config'
---

<div class="flex flex-row items-center justify-center relative border-t-[1px] border-zinc-900 bg-white dark:bg-zinc-900 overflow-hidden w-full h-screen">

  <div class="hidden lg:block lg:absolute  inset-y-0 -left-20 h-screen w-1/2 lg:-translate-x-8 z-[2]">
    <svg
    class="hidden lg:block absolute -right-20 -top-0 inset-y-0 h-screen w-48 text-white dark:text-zinc-900 transform translate-x-1/2 z-[1] -scale-x-100"
    fill="currentColor"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <polygon points="25,0 100,0 75,100 0,100"></polygon>
    </svg>
    <svg
    class="hidden lg:block absolute -right-20 -top-0 inset-y-0 h-screen w-48 text-black dark:text-black transform translate-x-1/2 z-0 -scale-x-100 opacity-50 blur-xl"
    fill="currentColor"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <polygon points="25,0 100,0 75,100 0,100"></polygon>
    </svg>
    <div class="absolute inset-y-0 w-[111%] h-full bg-white dark:bg-zinc-900 z-[2]" />
  </div>
  <div class="w-full lg:max-w-7xl mx-auto h-full">
    <div
      class="z-10 relative h-full pb-8 sm:pb-16 md:pb-20 lg:max-w-3xl w-full lg:pb-28 xl:pb-32 px-5 lg:px-0"
    >

      <main
        class="relative flex flex-row items-center justify-between pt-10 mx-auto w-full h-full  max-w-7xl sm:pt-12 md:pt-16 lg:pt-20 xl:pt-28 z-20 "
        x-data="{shown: false}"
        x-intersect.half="shown = true"
        x-intersect:leave="shown = false"
      >
        <div
        class="text-left w-full lg:w-2/3 lg:max-w-2xl"
        x-cloak
        x-show="shown"
        x-transition:enter="transition ease-out duration-300 transform "
        x-transition:enter-start="opacity-0 -translate-x-6"
        x-transition:enter-end="opacity-100 -translate-x-0"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 -translate-x-0"
        x-transition:leave-end="opacity-0 -translate-x-6"
        >
          <h2
            class="text-2xl text-left tracking-tight font-heading font-black text-zinc-900 dark:text-zinc-50 xs:text-5xl md:text-4xl"
          >
            <span class="block xl:inline">Be ready to have your assumptions challenged and uncover a foundation you can really build on.
            </span>
          </h2>
          <p
            class="mt-3 text-base text-gray-600 dark:text-zinc-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
          Not sure where to start? no worries! We’ll help you find the clarity you need!
          </p>
          <div class="mt-8 sm:flex sm:justify-center lg:justify-start">
            <div>
              <a
                role="button"
                href="/contact"
                class="btn glass w-full flex items-center justify-center px-8 border border-transparent text-base font-bold rounded-md text-zinc-800 bg-zinc-100 hover:bg-zinc-200 dark:text-zinc-50 dark:bg-zinc-700 dark:hover:bg-zinc-800 dark:hover:text-zinc-200 md:text-lg md:px-10"
              >
                Contact the team
              </a>
            </div>
          </div>
        </div>

      </main>

      </div>
  </div>
  <div
    class="hidden sm:block sm:absolute sm:inset-y-0 sm:-right-0 sm:w-1/2 bg-zinc-400 dark:bg-zinc-800 z-0"
  >
    <SVGImg
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full translate-x-10 object-center"
      src={FeaturedSVG}
      alt="featured"
    />
  </div>
</div>
