---
import { Icon } from 'astro-icon'
import { SiteMetadata } from '../config'
---

<div
  class="bg-white dark:bg-black flex items-center border-t-[1px] border-zinc-900"
>
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
    x-data="{shown: false}"
    x-intersect.full="shown = true"
    x-intersect:leave="shown = false"
  >
    <div class="text-center xs:text-left"
    x-show="shown"
    x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-50 translate-y-6"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease-in duration-75 transform"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-50 translate-y-6"
    >
      <h2
        class="text-3xl xs:text-2xl font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
      >
        <span class="block dark:text-white"
          >Want the latest news from RnDAO?</span
        >
      </h2>
      <p class="text-gradient-basic text-3xl xs:text-2xl sm:text-4xl">
        Sign up to the newsletter today.
      </p>
      <div class="form-control mt-5 w-full sm:max-w-2xl">
        <label class="label hidden" aria-hidden="false">
          <span class="label-text">Your Email</span>
        </label>
        <label class="input-group input-group-md sm:input-group-lg">
          <span class="bg-zinc-800 text-zinc-300">Email</span>
          <input
            type="text"
            placeholder="your@email.com"
            class="input input-ghost input-bordered focus:outline-accent2 text-zinc-300 focus:text-zinc-200 min-h-fit text-sm xs:text-base bg-zinc-900 w-2/3"
          />
          <button class="btn btn-subtle glass bg-zinc-700 text-sm">
            <span class="block xs:hidden bg-transparent">
              <Icon
                pack="bi"
                name="send-fill"
                class="block h-8 w-8 bg-transparent"
              />
            </span>
            <span class="hidden xs:inline bg-transparent">Subscribe</span>
          </button>
        </label>
      </div>
    </div>
    <div
    class="mt-8 flex lg:mt-0 lg:flex-shrink-0"
    x-show="shown"
    x-transition:enter="transition ease-out duration-300 delay-200 transform"
    x-transition:enter-start="opacity-0 translate-y-6"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease-in duration-75 transform"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 translate-y-6"
    >
      <!-- <div class="inline-flex rounded-md shadow">
        <a
          href={SiteMetadata.repository + '/generate'}
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-purple-600 hover:bg-pink-600"
        >
          Use Template
        </a>
      </div>
      <div class="ml-4 lg:ml-3 inline-flex rounded-md shadow">
        <a
          href={SiteMetadata.repository}
          rel="noopener noreferrer"
          target="_blank"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-purple-600 bg-white hover:bg-purple-100"
        >
          Github Repo
        </a>
      </div> -->
    </div>
  </div>
</div>
