---
import SVGImg from '../components/svgimg.astro'
import { FeaturedSVG } from '../config'
---
<script>
  import Alpine from 'alpinejs'
  import intersect from '@alpinejs/intersect'

  if (typeof window !== 'undefined') {
    Alpine.plugin(intersect)
    // Alpine.start()
  }
</script>
<div class="hero-wrapper relative h-screen lg:max-h-[80vh] -mt-16 pt-16 xs:pt-0  bg-white dark:bg-zinc-900 overflow-hidden">
  <div class="hidden lg:block lg:absolute  inset-y-0 -left-20 h-screen w-1/2 lg:-translate-x-8 z-[2]">
    <svg
    class="hidden lg:block absolute -right-1/4 inset-y-0 -top-1 h-screen w-48 text-white dark:text-zinc-900 transform z-[1]"
    fill="currentColor"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <polygon points="25,0 100,0 75,100 0,100"></polygon>
    </svg>
    <svg
    class="hidden lg:block absolute -right-1/4 inset-y-0 h-screen w-48 text-black dark:text-black transform z-0 opacity-50 blur-xl"
    fill="currentColor"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <polygon points="25,0 100,0 75,100 0,100"></polygon>
    </svg>
    <div class="absolute inset-y-0 w-full sm:w-[115%] h-screen bg-white dark:bg-zinc-900 z-[2]" />
  </div>
  <div class="w-full lg:max-w-7xl mx-auto h-full">
    <div
      class="z-20 relative h-full lg:max-w-2xl lg:w-full items-center justify-center flex flex-col"
    >
      <main
        class="relative flex items-center mx-auto max-w-7xl px-4 sm:px-0 sm:pr-12  z-20 h-full"
        x-data="{shown: false}"
        x-intersect.half="shown = true"
        x-intersect:leave="shown = false"
      >
        <div
          class="text-center sm:text-left"
          x-cloak
          x-show="shown"
          x-transition:enter="transition ease-out duration-300 transform"
          x-transition:enter-start="opacity-50 -translate-x-6"
          x-transition:enter-end="opacity-100 -translate-x-0"
          x-transition:leave="transition ease-in duration-75 transform"
          x-transition:leave-start="opacity-100 -translate-x-0"
          x-transition:leave-end="opacity-50 -translate-x-6"
        >
          <h1
            class="text-4xl tracking-tight font-heading font-bold text-zinc-900 dark:text-zinc-50 xs:text-7xl sm:text-6xl text-left"
          >
            <span class="block xl:inline">Get a razor sharp understanding of the market{' '}
            and your users.
            </span>
          </h1>
          <p
            class="mt-5 text-sm text-gray-600 dark:text-zinc-300 text-left xs:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
          Research-informed strategy helps you find product-market fit faster. Build with the confidence that you’re solving the right problem at the right time for the right user.
          </p>

          <div class="mt-8 sm:flex sm:justify-center lg:justify-start">
            <div>
              <a
              role="button"
                href="/contact"
                class="btn glass w-full px-8 border border-transparent text-base font-bold rounded-md text-white hover:!text-white bg-zinc-600 hover:bg-zinc-700 dark:text-black dark:bg-zinc-400 dark:hover:bg-zinc-600  dark:hover:text-black md:text-lg md:px-10"
              >
                Connect
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a
                href="#partner"
                class="btn glass w-full flex items-center justify-center px-8 border border-transparent text-base font-bold rounded-md text-zinc-800 bg-zinc-400 hover:bg-zinc-500 dark:text-zinc-50 dark:bg-zinc-700 dark:hover:bg-zinc-800 dark:hover:text-zinc-200 md:text-lg md:px-10"
                rel="noopener noreferrer"
                target="_blank"
              >
                Learn more
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div
    class="absolute inset-y-0 -right-0 w-full lg:w-1/2 lg:bg-zinc-600 lg:dark:bg-zinc-700 opacity-10 lg:opacity-100 z-10 md:z-0"
  >
    <SVGImg
      class="h-[200%] w-auto lg:object-cover sm:h-72 md:h-96 lg:w-full lg:h-full lg:translate-x-10 object-top lg:object-center"
      src={FeaturedSVG}
      alt="featured"
      width="882"
      height="882"
    />
  </div>
</div>

<!-- <script>
  import Alpine from 'alpinejs'
  import intersect from '@alpinejs/intersect'

  if (typeof window !== 'undefined') {
    Alpine.plugin(intersect)
    Alpine.start()
  }
</script> -->